/***

font-family: 'Poppins';

***/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {

}

.container {

}

.header-wrapper {

}

.nav-a-wrapper {

}

.menu li {
    list-style: none;
}

.template_button {

}

.bg-1 {
    background: url(/image/main-background-1.jpg) 0 0 no-repeat;
    height: 716px;
    /* background-size: cover; */
}
