/***

font-family: 'Poppins';

***/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {
    max-width: 1440px;
    margin: auto;
}

.header {
    position: relative;
    background: #000;
    max-width: 1440px;
    height: 90px;
}

.logo {
    position: absolute;
    top: 27px;
    left: 84px;
}

.nav-wrapper {
    position: absolute;
    top: 35px;
    right: 328px;
}

.menu {
    display: flex;
	gap: 40px;
}

.menu li {
    list-style: none;
}

.menu li a {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;

}

.template_button {
    position: absolute;
    top: 24px;
	right: 141px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    width: 156px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 15px;
    
}

.container-block-1 {
    position: relative;
    text-align: center;
    color: #fff;
}

.block-1-content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block-1-category {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #c0c0c0;

}

.block-1-title {
    font-family: 'Poppins';
    font-size: 54px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 18px;
    
}

.block-1-text {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #c0c0c0;
}

.block-1-icons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    margin-bottom: 25px;
    margin-right: 40px;
}

.corner-icons {
    margin-right: 16px;
}