/***

font-family: 'Poppins';

***/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {
    max-width: 1440px;
    margin: auto;
}

/*** HEADER ******************************************************************/

.header {
    position: relative;
    background: #000;
    max-width: 1440px;
    height: 90px;
}

.logo {
    position: absolute;
    top: 27px;
    left: 84px;
}

.nav-wrapper {
    position: absolute;
    top: 35px;
    right: 328px;
}

.menu {
    display: flex;
	gap: 40px;
}

.menu li {
    list-style: none;
}

.menu li a {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;

}

.template_button {
    position: absolute;
    top: 24px;
	right: 141px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    width: 156px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 15px;
    
}

/*** BLOCK_1 ********************************************************************/

.container-block-1 {
    position: relative;
    text-align: center;
    color: #fff;
    background-image: url("image/block-1-background.jpg");
    height: 716px;

}

.block-1-content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block-1-category {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #c0c0c0;

}

.block-1-title {
    font-family: 'Poppins';
    font-size: 54px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 18px;
    
}

.block-1-text {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #c0c0c0;
}

.block-1-icons {
    position: absolute;
    bottom: 25px;
    right: 40px;
    display: flex;
    gap: 16px;
}


/*** BLOCK_2 ******************************************************************/

.container-block-2 {
    position: relative;
    background-color: #000;
    text-align: center;
    max-width: 1440px;
    height: 1573px;
    padding-top: 120px;
}

/* .block-2-text {
    /*position: absolute;
    top: 113px;
    left: 596px;
} */

.block-2-title {
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 400;
    line-height: 42px;
    color: #fff;
    margin-bottom: 15px;
}

.block-2-description {
    font-family: 'Poppins';
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
    color: #C0C0C0;
}


/*** COMMON STYLES FOR ARTICLE BLOCKS***/
.block-2-articles {
    position: absolute;
    top: 242px;
    left: 136px;
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
}

.article-readmore {
    position: relative;
    width: 143px;
    height: 42px;
    background-color: #fff;
    border-radius: 15px;
    margin-left: 30px;
}

.small-black-icon {
    position: absolute;
    left: 6px;
    top: 5px;
    width: 32px;
    height: 32px;
    background-color: #000;
    border-radius: 13px;
}

.b2-article-hyperlink {
    position: absolute;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    color: #000;
    left: 42px;
    top: 9px;
}
/*** ***/


/*** ARTICLE-1 ***/
.block-2-article-1 {
    background-image: url("image/block-2-pic-1.jpg");
    height: 600px;
    width: 576px;
    text-align: left;
}

.b2-a1-cat {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 421px;
    margin-left: 30px;
    padding-bottom: 14px;
}

.b2-a1-descr {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #c0c0c0;
    margin-left: 30px;
    padding-bottom: 14px;
}
/*** ***/


/*** ARTICLE-2 ***/
.block-2-article-2 {
    background-image: url("image/block-2-pic-2.jpg");
    height: 600px;
    width: 576px;
    text-align: left;
}

.b2-a2-cat {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 421px;
    margin-left: 30px;
    padding-bottom: 14px;
}

.b2-a2-descr {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #c0c0c0;
    margin-left: 30px;
    padding-bottom: 14px;
}
/*** ***/


/*** ARTICLE-3 ***/
.block-2-article-3 {
    background-image: url("image/block-2-pic-3.jpg");
    height: 600px;
    width: 576px;
    text-align: left;
}

.b2-a3-cat {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 401px;
    margin-left: 30px;
    padding-bottom: 14px;
}

.b2-a3-descr {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #c0c0c0;
    margin-left: 30px;
    padding-bottom: 14px;
}
/*** ***/


/*** ARTICLE-4 ***/
.block-2-article-4 {
    background-image: url("image/block-2-pic-4.png");
    height: 600px;
    width: 576px;
    text-align: left;
}

.b2-a4-cat {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 401px;
    margin-left: 30px;
    padding-bottom: 14px;
}

.b2-a4-descr {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #c0c0c0;
    padding-bottom: 14px;
    margin-left: 30px;

}
/*** ***/


/*** BLOCK_2 ******************************************************************/

.container-block-3 {
    position: relative;
    max-width: 1440px;
    height: 600px;
    background-image: url("image/block-3-background.jpg");
}

.block-3-content {
    position: absolute;
    top: 260px;
    right: 60px;
    /*transform: translate(-50%, -50%);*/
}

.block-3-category {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
}

.block-3-text {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #c0c0c0;
}

.block-3-icons {
    position: absolute;
    bottom: 40px;
    right: 38px;
    display: flex;
    gap: 16px;
}

/*** ***/
/*** BLOCK_4 ******************************************************************/

.container-block-4 {
    position: relative;
    max-width: 1440px;
    height: 540px;
}

.block-4-content {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.block-4-left-side {
    height: 540px;
    width: 720px;
    background-color: #000;
}

.block-4-category {

}

.block-4-title {

}

.block-4-intro {

}

.block-4-right-side {
    background-image: url("image/block-4-background.jpg");
    height: 540px;
    width: 720px;
}

.block-4-icons {
    position: absolute;
    bottom: 40px;
    right: 38px;
    display: flex;
    gap: 16px;
}

/*** ***/
/*** BLOCK_5 ******************************************************************/

.container-block-5 {
    position: relative;
    max-width: 1440px;
    height: 600px;
    background-image: url("image/block-5-background.jpg");
}

.block-5-content {
    position: absolute;
    top: 260px;
    right: 60px;
    /*transform: translate(-50%, -50%);*/
}

.block-5-category {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
}

.block-5-text {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #c0c0c0;
}

.block-5-icons {
    position: absolute;
    bottom: 40px;
    right: 38px;
    display: flex;
    gap: 16px;
}

/*** ***/
/*** BLOCK_5 ******************************************************************/

